node_modules
.env
coverage
coverage.json
typechain

cache
artifacts

*.svg
*.png
*.log

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

/typechain-types/